body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: #fff8e1;
    margin: 0;
    padding: 0;
}

.product {
    background: white;
    padding: 20px;
    margin: 40px auto;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0 0 15px gray;
}

.product img {
    width: 80%;
    border-radius: 10px;
    margin-bottom: 15px;
}

input, select, button {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 80%;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background: #f4a261;
    border: none;
    padding: 12px 20px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background: #e76f51;
}

.payment-info {
    font-weight: bold;
    color: #2a9d8f;
    margin-top: 10px;
}
